*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

body {
  font-family: 'Rubik', sans-serif; }

body {
  background-color: #0f1424; }

.app-container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .app-container .app {
    max-width: 1440px;
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr); }
    .app-container .app .person {
      background-color: #5847eb;
      border-radius: 20px; }
      .app-container .app .person__wrap {
        grid-column: 1 / 2;
        background-color: #1c1f4a;
        border-radius: 20px;
        overflow: hidden; }
    .app-container .app .task {
      border-radius: 20px;
      overflow: hidden; }
      .app-container .app .task__wrap {
        grid-column: 2 / 5;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr); }
      .app-container .app .task__content {
        background-color: #1c1f4a;
        border-radius: 20px 20px 0 0; }
      .app-container .app .task__image {
        height: 50px; }
      .app-container .app .task--orange {
        background-color: #ff8c66; }
      .app-container .app .task--blue {
        background-color: #56c2e6; }
      .app-container .app .task--pink {
        background-color: #ff5c7c; }
      .app-container .app .task--green {
        background-color: #4acf81; }
      .app-container .app .task--violet {
        background-color: #7536d3; }
      .app-container .app .task--yellow {
        background-color: #f1c65b; }
